# Visual Studio
obj
bin
src/CommonAssemblyInfo.cs
*.csproj.user
*.suo
*.cache

# Fubu
fubu-content

# NuGet
src/packages
repositories.config

# Resharper
*.resharper.user
*.ReSharper.user
*/_Resharper.*/
