# Visual Studio
obj
bin
src/CommonAssemblyInfo.cs
*.csproj.user
*.suo
*.cache

# Fubu
/src/*/*/*/fubu-content/*/

results
build
artifacts

# NuGet
packages
repositories.config

# Resharper
*.resharper.user
*.ReSharper.user
*/_Resharper.*/
